html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: sans-serif;
  text-align: center;
  color: white;
  background: url("battle.jpg") center / cover no-repeat;
}

/* ボタンは触らない */
button {
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
}
