body {
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;
  text-align: center;

  /* 背景は body に直貼り */
  background-image: url("battle.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

button {
  font-size: 20px;
  padding: 15px 30px;
  cursor: pointer;
}

#typing {
  font-size: 18px;
  padding: 8px;
}
