body {
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;
  text-align: center;
  color: white;

  background-image: url("battle.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* 画面揺れ */
.shake {
  animation: shake 0.3s;
}

@keyframes shake {
  0% { transform: translate(0); }
  25% { transform: translate(8px); }
  50% { transform: translate(-8px); }
  75% { transform: translate(8px); }
  100% { transform: translate(0); }
}

button {
  font-size: 20px;
  padding: 12px 30px;
  cursor: pointer;
}

#status {
  margin-top: 20px;
  font-size: 18px;
}

/* 中央の枠 */
#typingBox {
  margin: 40px auto;
  width: 320px;
  padding: 20px;
  border: 3px solid white;
  background: rgba(0,0,0,0.6);
}

#word {
  font-size: 24px;
  margin-bottom: 10px;
}

#typing {
  width: 90%;
  font-size: 18px;
  padding: 6px;
}
