html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: sans-serif;
  text-align: center;
  color: white;

  /* 背景はこれだけ */
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* ボタン */
button {
  font-size: 18px;
  padding: 12px 24px;
  margin: 10px;
  cursor: pointer;
}

/* 入力欄 */
#typing {
  font-size: 18px;
  padding: 8px;
}
